/* RESET CSS BASE */
*{
    padding: 0;
    margin:0;
    box-sizing: border-box;
}
/* HEADER E LOGO */
header{
    background-image: url('../img/pattern.png');
    background-size: 20%;
    background-color: #4EA0FF;
    padding-top:30px;
}

#logo{
    height: 80px;
}

pics{
    display:block;
      margin:0px auto;
      text-align:center;
}

/* CONTENITORE PRINCIPALE */

.container{
    width:80%;
    margin:auto;
}

.text-blue{
    color: #4EA0FF;
}

.data{
    font-size: 1.rem;
}

.didascalie{
    margin-bottom:20px;
}

.text{
    margin-top:20px;
}

ul{
margin: 20px 20px;
}

/* TABELLA */

thead{
    background-color: #20a9e5;
    color: white;
    
}

.column-20{
    width: 20%;
}

table{
    border-spacing: 0;
    margin-top:20px;
}

.first, .last{
    background-color: #b1e5f2;
}

.consigli{
    color: grey;
    padding-top:25px;
}
/* IMMAGINI FINALI DELLA PAGINA */
footer h3{
    color:#808080;
    margin-top:30px;
}

 .foto-finale{
    background-image:url('../img/monitor.jpg');
    background-size: contain;
    width: 270px;
    height: 200px;
    margin-top:15px;
    padding-bottom:10px;
}

.foto-finale p{
    color: white;
    padding-top:10px;
    padding-left:5px;
    font-size: 22px;
}

.foto-finale2{
    background-image: url('../img/graph.jpg');
    background-size: contain;
    width: 270px;
    height: 200px;
    margin-top:15px;
    padding-bottom:10px;
}

.foto-finale2 p{
    color: white;
    padding-top:10px;
    padding-left:5px;
    font-size: 22px;
}